<div class="container">
    <h1 class="text-center">Trending Gifs</h1>
    <div class="row">
        <div class="col-3" *ngFor="let trendingGif of trendingGifs; index as i"> <!--Loop through gifs in Giphy-->
            <div class="card-columns">
                <div>
                    <div class="card" style="border: none;">
                        <a href="trendingGif.url" target="_blank"><img src="{{trendingGif.images.preview_webp.url}}"
                                alt="" width="100%"></a> <!--Display gif-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>