<div class="container">
    <form style="margin-top: 20px" #queryForm="ngForm" (ngSubmit)='searchGifs()'>
        <div class="form-group" style="margin-bottom:2rem">
            <div class="row">
                <div class="col-10">
                    <input type="text" class="form-control" [(ngModel)]="searchQuery" placeholder="Search Gifs"
                    name="search" id="search">
                </div>
                <div class="col-2">
                    <button class="btn btn-outline-dark" type="submit">Search</button>
                </div>
            </div>
        </div>
    </form>
    <div class="row main-display">
        <div class="col-3" *ngFor="let gif of gifs; index as i">
            <div>
                <div class="card" style="border: none;">
                    <a href="gif.url" target="_blank"><img src="{{gif.images.preview_webp.url}}" alt=""
                            width="100%"></a>
                </div>
            </div>
        </div>
    </div>
</div>