<div class="container">
    <form style="margin-top: 50px">
        <div class="form-group">
            <input type="text" class="form-control" [(ngModel)]="searchQuery" placeholder="Search Gifs"
                style="margin-bottom: 10px; margin-top: 10px" name="search" id="search">
            <button class="btn btn-outline-dark" (click)="searchGifs()">
                <i class="fas fa-search" style="color: #000">Search</i>
            </button>
        </div>
    </form>
    <div class="row main-display">
        <div class="col-3" *ngFor="let gif of gifs; index as i">
            <div>
                <div class="card" style="border: none;">
                    <a href="gif.url" target="_blank"><img src="{{gif.images.preview_webp.url}}" alt=""
                            width="100%"></a>
                </div>
            </div>
        </div>
    </div>
</div>